@import "variables";

body {
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
    width: 2px;
    &-track {
	    background-color: #f0f0f0; 
	}
	&-thumb {
    border-radius: 4px;
    background: #303650; ; 
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	} 
}
.wrapper {
	position: relative;
	display: grid;
	grid-template-columns: minmax(375px, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-template-areas: "sidebar" "header" "main";
	overflow: hidden;
	@media (min-width: 520px) and (max-width: 1023px){
		grid-template-columns: 292px 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: "sidebar header" "sidebar main";
	}
	@media (min-width: 1024px) {
		grid-template-columns: 332px 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: "sidebar header" "sidebar main";
	}
}
.sidebar {
	grid-area: sidebar;
	background-image: linear-gradient(to top, #485173, #24283e);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: fixed;
	z-index: 100;
	height: 100vh;
	width: $widSideTab;
	@media (max-width: 520px) {
		display: none;
		width: $widSideMob;
	}
	@media (min-width: 1024px) {
		width: $widSideDesc;
	}
	&-box {
		flex-grow: 0;
	}
	.delete {
		padding: 0;
		background: none;
		border: none;
		position: absolute;
		right: 24px;
		top: 10px;
		z-index: 60;
		color: $fontWhite;
		font-size: 24px;
		@media (min-width: 520px) {
			display: none;
		}
	}
	&-title {
		margin: 0;
		color: $fontWhite;
		font-size: 32px;
		font-weight: 700;
		padding: $padSideMob;
		padding-top: 25px;
		@media (max-width: 520px) {
			display: none;
		}
		@media (min-width: 520px) and (max-width: 1024px) {
			padding: $padSideTab;
			padding-top: 15px;
		}
		@media (min-width: 1024px) {
			padding: $padSideDesc;
			padding-top: 15px;
		}
	}
	&-list {
		margin: 15px 0 0 0;
		padding: 0;
		list-style: none;
		
	
		&-name{
		 	display: block;
			font-size: 15px;
			line-height: 16px;
			text-transform: uppercase;
			padding-left: 24px;
			color: $fontPerryWinkle;
			padding: $padSideMob;
			padding-bottom: 13.5px;
			padding-top: 13.5px;
			@media (min-width: 520px) and (max-width: 1024px) {
				padding: $padSideTab;
				padding-bottom: 13.5px;
				padding-top: 13.5px;
			}
			@media (min-width: 1024px) {
				padding: $padSideDesc;
				padding-bottom: 13.5px;
				padding-top: 13.5px;
			}
		}
	}	
	&-items {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.user-button {
			visibility: hidden;
		}
		&:hover {
			border-left: 3px solid #02bbf1;
			background-image: -o-linear-gradient(left, rgba(126, 142, 218, 0.13), rgba(255, 255, 255, 0.13));
			background-image: linear-gradient(to left, rgba(126, 142, 218, 0.13), rgba(255, 255, 255, 0.13));
		}
		&:hover .user-button {
			visibility: visible;
			margin-right: 24px;
			@media (min-width: 520px) and (max-width: 1024px) {
				margin-right: 30px;
			}
			@media (min-width: 1024px) {
				margin-right: 55px;
			}	
		}
	}
	&-links {
		width: 55%;
		text-decoration: none;
		font-size: 18px;
		line-height: 20px;
		color: $fontWhite;
		padding: 13.5px 24px;
		@media (min-width: 520px) and (max-width: 1024px) {
			padding: $padSideTab;
			padding-top: 13.5px;
			padding-bottom: 13.5px;
		}
		@media (min-width: 1024px) {
			padding: $padSideDesc;
			padding-top: 13.5px;
			padding-bottom: 13.5px;
		}
		&:hover {
			padding-left: calc(24px-3);
			@media (min-width: 520px) and (max-width: 1024px) {
				padding-left: (40px-3);
			}
			@media (min-width: 1024px) {
				padding-left: (55px-3);
			}
		}	
	}
	.user {
		padding: $padSideMob;
		padding-top: 30px;
		padding-bottom: 30px;
		@media (min-width: 520px) and (max-width: 1024px) {
			padding: $padSideTab;
			padding-top: 40px;
			padding-bottom: 40px;
		}
		@media (min-width: 1024px) {
			padding: $padSideDesc;
			padding-top: 40px;
			padding-bottom: 40px;
		}

		&-desc-name {
			@extend.user-desc-name;
				color: $fontWhite;
				font-size: 19px;
				line-height: 21px;
		}
	}
	.search {
		background-color: transparent;
		box-sizing: border-box;
		width: $widSearchMob;
		@media (min-width: 520px) {
			width: $widSearchTabDesc;
		}
		height: 39px;
		border: none;
		color: $fontBlueGrey;
		margin: 0 24px;
		@media (min-width: 520px) and (max-width: 1024px) {
			margin: 0 30px 0 40px;
		}
		@media (min-width: 1024px) {
			margin: 0 55px;
		}
		border-bottom: 1px solid $fontBlueGrey;
		font-size: 17px;
		line-height: 19px;
		&-form {
			position: relative;
		}

		&-button {
			padding: 0;
			border: none;
			position: absolute;
			height: 24px;
			width: 24px;
			right: 24px;
			top: 50%;
			transform: translateY(-40%);
			z-index: 50;
			background: url(../img/search.svg) left/contain no-repeat;
			display: none;
			
			@media (max-width: 520px) {
				display: block;
			}
		}	
	}
	.bday{
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: $padSideMob;
		@media (min-width: 520px) and (max-width: 1024px) {
			padding: $padSideTab;
		}
		@media (min-width: 1024px) {
			padding: $padSideDesc;
		}
		&-title {
			@extend .sidebar-list-name;
			margin: 0;
			color: $fontWhite;
			opacity: 0.3;
			font-weight: 400;
			padding: 20px 0 5px;
		}
		&-list {
			margin: 0;
			max-height: 100px;
			overflow: auto;
			text-overflow: hidden;
		}
		&-name-date {
			color: $fontWhite;
			opacity: 0.3;
			font-size: 13px;
			span {
				font-style: italic;
			}
		}
	}
	.new-contact {
		display: flex;
		justify-content: start;
		align-items: center;
		height: 55px;
		border-top: 1px solid $fontCoolGrey;
		margin: 10px 24px 0 24px;
		@media (min-width: 520px) and (max-width: 1024px) {
			margin: 10px 40px 0 30px;
		}
		@media (min-width: 1024px) {
			margin: 10px 55px 0 55px;
		}
		&-link {
			padding-left: 30px;
			text-decoration: none;
			font-size: 15px;
			line-height: 16px;
			color: $fontWhite;
			position: relative;
			&:before {
			content: '+';
			display: block;
			position: absolute;
			height: 18px;
			width: 18px;
			padding: 2px;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			z-index: 60;
			border-radius: 50%;
			border: 2px solid $fontWhite;
			font-size: 18px;
			line-height: 18px;
			text-align: center;
			}
		}
	}
}
.header-box {
	grid-area: header;
	display: flex;
	justify-content: space-between;
	align-items: center;
	top: 0;
	box-shadow: 0 0 10px 0 rgba(48, 54, 80, 0.2);
	padding: 0 24px;
	&-title {
		margin: 0;
		font-size: 24px;
		line-height: 28px;
		color: $fontAzure;
		padding: 24px 0;
		font-weight: 700;			
	}
	.burger-menu {
		border: none;
		background: none;
		padding: 0;
		color: $fontWarmGrey;
		font-size: 25px;
		@media (min-width: 520px) {
			display: none;
		}
	}
}
.contacts {
	grid-area: main;
	// &:-webkit-scrollbar {
	// 	padding-left: 10px;
	// }
	&-list {
		display: grid;
		margin: 0;
		list-style: none;
		padding-left: 0;
	}
	&-item{
		padding-left: 0;
		box-sizing: border-box;
		&:nth-child(2n+2) {
			@media (min-width: 520px) and (max-width: 791px) {
				background-color: $bgcWhiteTwo;
			}
		}	
		&:nth-child(4n+3), 
		&:nth-child(4n) {
			@media (min-width: 792px) and (max-width: 1081px) {
				background-color: $bgcWhiteTwo;
			}
		}
		&:nth-child(6n+4), 
		&:nth-child(6n+5), 
		&:nth-child(6n+6) {
			@media (min-width: 1082px) and (max-width: 1331px) {
				background-color: $bgcWhiteTwo;
			}
		}
		&:nth-child(8n+5), 
		&:nth-child(8n+6), 
		&:nth-child(8n+7),
		&:nth-child(8n+8) {
			@media (min-width: 1332px) and (max-width: 1581px) {
				background-color: $bgcWhiteTwo;
			}
		}
		&:nth-child(10n+6), 
		&:nth-child(10n+7), 
		&:nth-child(10n+8),
		&:nth-child(10n+9),
		&:nth-child(10n+10) {
			@media (min-width: 1582px) {
				background-color: $bgcWhiteTwo;
			}
		}
	}		
}
.grid-container {
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	
}
.user {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 24px;

	&-box {
		display: inherit;
	}

	&-pic {
		width: 48px;
		height: 48px;
		flex-shrink: 0;
		flex-grow: 0;
		background-color: #d8d8d8;
		border: solid 2px $borderCherry;
		border-radius: 50%/50%;
	}
	&-dropdown {
		position: relative;
		display: inline-block;
		&:hover .user-dropdown-list:not(.sublist) {
    			display: block;
    		}
		&-list {
			position: absolute;
			display: none;
			right: 0;
			padding: 0;
			margin: 0;
			list-style: none;
			overflow: visible;
			background-color: $bgDropDark;
    		min-width: 170px;
    		border-radius: 5%/10%;
    		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    		z-index: 70;
    		&.sublist {
    			@extend .user-dropdown-list;
    			top: 110px;
    			left: 0;
    		}	
		}
		&-item {
			position: static;
			display: block;
    		width: 100%;
    		padding: 3px 0;
    		&:not(:last-of-type) {
    			border-bottom: 1px solid $fontWhite; 
    		}
    		&:hover {
    			background-color: rgba(255, 255, 255, 0.1);
    		}
    		&.subitem {
    			@extend .user-dropdown-item;
    			position: static;
    			&:hover {
    			background-color: rgba(255, 255, 255, 0.1);
    			}
    		}
    		&:last-child:hover .sublist {
    			display: block;
    		}
    	}
    	&-link {
    		width: 100%;
    		line-height: 16px;
    		font-size: 12px;
    		color: $fontWhite;
    		text-decoration: none;
    		padding: 3px 0 3px 16px;
    		background-color: transparent;
    		&:not(:last-of-type) {
    			border-bottom: 1px solid $fontWhite; 
    		}
    		&.sublink {
    			@extend .user-dropdown-link;
    		}		
		}
	}
	&-button {
		border: none;
		background: url(../img/dots.svg) center no-repeat;
		padding: 0;
		width: 15px;
		height: 13.5px;
	}
	&-logout {
		margin: 0;
		background: none;
		border: none;
		font-size: 15px;
		line-height: 16px;
		color: $fontPerryWinkle;	
	}
	&-desc {
		max-width: 110px;
		padding-left: 13px;
		&-name {
			margin: 0;
			padding: 6px 0;
			font-size: 18px;
			line-height: 19px;
			font-weight: 500;
			white-space: nowrap;
	  		overflow: hidden;
	  		text-overflow: ellipsis;
		}
		&-text {
			margin: 0;
			font-size: 13px;
			line-height: 14px;
			color: $fontWarmGrey;
			font-weight: 500;
			white-space: nowrap;
	  		overflow: hidden;
	  		text-overflow: ellipsis;
		}
	}
}
.add-contact {
	position: relative;
	grid-area: main;
}
.circle-delete {
	position: absolute;
	top: 20px;
	right: 24px;	
	width: 24px;
	height: 24px;
	border: none;
	border-radius: 50%;
	color: $fontWhite;
	background: $fontAzure url(../img/delete.svg) center/60% no-repeat;
	box-shadow: 0 0 10px 0 $shadowDarkGreyBlue;
}
.circle-edit {
	@extend .circle-delete;
	right: 66px;
	background-image: url(../img/edit.svg);
}

.add {
	margin: 56px 24px 46px;
	&-list {
		list-style: none;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto repeat(2, 32px[row-start]) auto repeat (3, 32px [row-start]) auto repeat (2, 32px [row-start]) 1fr;
		grid-row-gap: 16px;
		@media (min-width: 520px) and (max-width: 1023px) {
			grid-template-columns: 146px 1fr;
			grid-template-rows: repeat(2, 56px[row-start]) auto repeat (3, 32px [row-start]) auto repeat (2, 32px [row-start]) 1fr;
			grid-row-gap: 16px;
		}
		@media (min-width: 1024px) {
			grid-template-columns: 230px 1fr 1fr;
			grid-template-rows: repeat(2, auto) repeat (3, 32px [row-start]) auto repeat (2, 32px [row-start]) 1fr;
			grid-row-gap: 16px;
		}
	}
	&-item {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
			& #desc {
				height: 54px;
			}
			& #info {
				height: 104px;
			}
		@media (min-width: 1024px) {
			&:nth-child(2){
				margin-right: 20px;
			}
			&:nth-child(3) {
				margin-left: 20px;
			}
		}
	}
	&-label {
		display: block;
		margin: 0;
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		&.flex-label {
			@media (min-width: 520px) {
				display: flex;
				justify-content: flex-end;
			}
		}

	}
	&-input,
	&-input:link{
		box-sizing: border-box;
		width: 100%;
		height: 32px;
		padding: 6px;
		color: $fontBlack;
		font-size: 14px;
		line-height: 16px;
		border: 1px solid $borderWarmGrey;
		box-shadow: inset 0 0 10px 0 $shadLightGrey;
		&:visited,
		&:focus {
			box-shadow: 0 0 4px 0 $fontAzure, inset 0 0 10px 0 $shadLightGrey;
			border: solid 1px $fontAzure;

		}
		&.flex-input{
			@media (min-width: 520px) and (max-width: 1023px) {
				width: calc(100% - 146px);
			}
			@media (min-width: 1024px) {
				width: calc(100% - 230px);
			}
		}
		& > textarea {
			box-sizing: border-box;
		}
	}
		
	&-text {
		display: block;
		margin: 0;
		padding: 0 32px 8px 0;
		font-size: 16px;
		line-height: 19px;
		font-weight: 700;
		color: $fontBlack;
	}
	&-photo {
		position: relative;
		margin: 0 auto;
		border: none;
		border-radius: 50%;
		width: 132px;
		height: 132px;
		background:transparent url('../img/user.svg') center/contain no-repeat;
		@media (min-width: 520px) and (max-width: 1023px) {
			width: 106px;
			height: 106px;
		}
		@media (min-width: 1024px) {
			width: 150px;
			height: 150px;
		}
		&:before {
			content:'Click for Upload Photo';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: $fontBlack;
			text-align: center;
			font-size: 11px;
			font-weight: 700;
		}
	}
	&--file {
		grid-column: 1/2;
		grid-row: 1/2;
		justify-items: center;
		align-items: start;
		@media (min-width: 520px) and (max-width: 1023px) {
			grid-column: 1/2;
			grid-row: 1/span 3;
		}
		@media (min-width: 1024px) {
			grid-column: 1/2;
			grid-row: 1/span 2;
		}
	}
	&--name {
		grid-column: 1/2;
		grid-row: 2/3;
		@media (min-width: 520px) and (max-width: 1023px) {
			grid-column: 2/3;
			grid-row: 1/2;
		}
		@media (min-width: 1024px) {
			grid-column: 2/3;
			grid-row: 1/2;
		}
	}
	&--surname {
		grid-column: 1/2;
		grid-row: 3/4;
		@media (min-width: 520px) and (max-width: 1023px) {
			grid-column: 2/3;
			grid-row: 2/3;
		}
		@media (min-width: 1024px) {
			grid-column: 3/4;
			grid-row: 1/2;
		}
	}
	&--desc {
		grid-column: 1/2;
		grid-row: 4/5;
		@media (min-width: 520px) and (max-width: 1023px) {
			grid-column: 2/3;
			grid-row: 3/4;
		}
		@media (min-width: 1024px) {
			grid-column: 2/span2;
			grid-row: 2/3;
		}
	}
	&--phone {
		grid-column: 1/2;
		grid-row: 5/6;
		@media (min-width: 520px) {
			grid-column: 1/span2;
			grid-row: 4/5;
		}
	}
	&--email {
		grid-column: 1/2;
		grid-row: 6/7;
		@media (min-width: 520px) {
			grid-column: 1/span2;
			grid-row: 5/6;
		}
	}
	&--birth {
		grid-column: 1/2;
		grid-row: 7/8;
		@media (min-width: 520px) {
			grid-column: 1/span2;
			grid-row: 6/7;
		}
	}
	&--info {
		grid-column: 1/2;
		grid-row: 8/9;
		@media (min-width: 520px) {
			grid-column: 1/span2;
			grid-row: 7/8;
		}
	}
	&--inst {
		grid-column: 1/2;
		grid-row: 9/10;
		@media (min-width: 520px) {
			grid-column: 1/span2;
			grid-row: 8/9;
		}
	}
	&--fb {
		grid-column: 1/2;
		grid-row: 10/11;
		@media (min-width: 520px) {
			grid-column: 1/span2;
			grid-row: 9/10;
		}
	}
	&--buttons {
		grid-column: 1/2;
		grid-row: 11/12;
		@media (min-width: 520px) {
			grid-column: 1/span2;
			grid-row: 10/11;
		}
	}
	&-label-button {
		padding: 20px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 540px) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	&-line {
		display: block;
		margin: 16px 0 0;
		height: 2px;
		background-color: $fontCoolGrey;
		width: 50%;
		@media (max-width: 540px) {
			display: none;
		}
	}
	&-save {
		margin: 16px 0 0;
		border: 1px solid $fontAzure;
		border-radius: 7%/50%;
		background-color: $fontAzure;
		color: $fontWhite;
		font-size: 16px;
		line-height: 18px;
		box-shadow: 0 0 10px 0 $shadowDarkGreyBlue;
		height: 46px;
		width: 327px;
		@media (min-width: 520px) and (max-width: 1023px) {
			width: 160px;
			margin-left: 16px;
			border-radius: 12%/50%;
		}
		@media (min-width: 1024px) {
			width: 182px;
			margin-left: 32px;
			border-radius: 12%/50%;
		}
	}
	&-cancel {
		@extend .add-save;
		background-color: $fontWhite;
		color: $fontAzure;
		box-shadow: none;
	}
}
.info {
	position: relative;
	grid-area: main;
	&-list {
		list-style: none;
		padding: 0;
		margin: 56px 24px 46px;
		display: grid;
		grid-template-columns: 107px 1fr;
		@media (min-width: 1024px) {
			grid-template-columns: 150px 1fr;
		}
		grid-template-rows: repeat(2,auto) repeat(3, 18px) auto 18px 1fr;
		grid-gap: 16px 16px;
	}
	&-item {
		display: flex;
		padding: 0;
		&:first-child {
			grid-column: 1/3;
			grid-row: 1/2;
			justify-content: center;
			@media (min-width: 540px) {
				grid-column: 1/2;
				justify-content: flex-start;
			}
		}
		&:nth-child(2) {
			flex-direction: column;
			align-items: center;
			grid-column: 1/3;
			grid-row: 2/3;
			@media (min-width: 540px) {
				grid-column: 2/3;
				grid-row: 1/2;
				align-items: flex-start;
			}
		}
		&:nth-child(3) {
			grid-column: 1/3;
			grid-row: 3/4;
		}
		&:nth-child(4) {
			grid-column: 1/3;
			grid-row: 4/5;
		}
		&:nth-child(5) {
			grid-column: 1/3;
			grid-row: 5/6;
		}
		&:nth-child(6) {
			grid-column: 1/3;
			grid-row: 6/7;
		}
		&:nth-child(7) {
			grid-column: 1/3;
			grid-row: 7/8;
		}
		&:nth-child(8) {
			grid-column: 1/3;
			grid-row: 8/9;
			@media(min-width: 540px) {
				grid-column: 2/3;
			}
		}
		&.gallery {
			@media (max-width: 540px) {
				justify-content: center;
			}
		flex-wrap: wrap;
		& > .gal-photo {
			margin: 0 8px 8px 0;
			height: 140px;
			@media (min-width: 1024px) {
				height: 126px;
			}
		}
	}

	}
	&-name {
		display: block;
		margin: 16px 0 10px;
		font-size: 24px;
		font-weight: 700;
		line-height: 28px;
	}
	&-title {
		display: block;
		flex-shrink: 0;
		margin: 0 16px 0 0;
		width: 107px;
		text-align: right;
		font-size: 16px;
		line-height: 19px;
		font-weight: 700;
		@media (min-width: 1024px) {
			width: 150px;
		}
	}
	&-photo {
			border-radius: 50%;
			width: 132px;
			height: 132px;
			@media (min-width: 520px) and (max-width: 1023px) {
				width: 106px;
				height: 106px;
			}
			@media (min-width: 1024px) {
				width: 150px;
				height: 150px;
			}
		}
	&-text {
		margin: 0;
		font-size: 14px;
		line-height: 24px;
		font-weight: 400;
		&:nth-child(2) {
			text-align: center;
			@media (min-width: 540px) {
				text-align: left;
			}
		}
		& > a {
			font-size: 14px;
			line-height: 16px;
			font-weight: 400;
			text-decoration: none;
			color: $fontAzure;
		}
	}
}

